extends ./base.jade

block content
	.jumbotron
		.container
			img(src=relative('/img/sag-logo.png'))
	.container
		h1 Welcome!
		p.lead
			| Sagittarius is a powerful and free online game service built with 
			a(href='https://cloud.google.com/appengine/') Google App Engine
			| . That means you get all the scalability and reliability of Google's products right out of the box. And what's more, Sagittarius is designed to be deployed to your own App Engine account, giving you full control over your game's backend.
		p.lead
			| Ready to begin? Great! Let's 
			a(href='getting-started') get started
			| .
