.page {
	padding: @padding-large;
}

h1 {
	margin-top: 0;
}


// Bootstrap overrides

.panel {
	&:not(:last-child) {
		margin-bottom: @padding-large;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.form-inline {
	label {
		margin-right: @padding-small;
	}

	input {
		margin-right: @padding-large;
	}
}


// Layout

#output {
	height: @output-height;
	font-family: @font-family-monospace;
	overflow-y: scroll;
	padding: @padding-large;
	background-color: @gray-lighter;
}

.recipe-menu {
	margin-top: 15px;
}

a.icon {
	position: relative;
	display: inline-block;
	margin: @padding-small;
	padding: @padding-small;
	height: @button-size + 2 * @padding-small;
	cursor: pointer;
}


// Buttons

.dbget, .dbadd, .dbmod, .dbdel, .mail, .ldbds {
	background-color: @color-blue;
}

.filter, .project {
	background-color: @color-purple;
}

.attribute, .modification {
	background-color: @color-green;
}

.limit {
	background-color: @color-orange;
}

.offset {
	background-color: @color-yellow;
}

.returns {
	background-color: @color-brown;
}

.generic {
	background-color: @color-red;
}
