// Bootstrap overrides
@font-family-base: 'Open Sans', Arial, sans-serif;
@font-size-base: 16px;

// Layout
@layout-base: 64px;
@layout-padding: 8px;
@screen-break: 1160px;
@footer-height: @layout-base + 2 * @layout-padding;
@sky-height: 2 * @layout-base + 3 * @layout-padding;
@zindex-popover: 1090;  // Popovers need to be above tooltips
@zindex-modal: 1100;  // Make our modals be above EVERYTHING
@dive-line-width: 5px;

// Colors
@color-black:        #263238;
@color-ocean-top:    #4fc3f7;
@color-ocean-bottom: #01579b;
@color-sky-top:      #4dd0e1;
@color-sky-bottom:   #b2ebf2;
@color-icon-overlay: fade(#eceff1, 50%);
@color-disclaimer:   #ffc107;
@color-footer-bg:    @color-black;
@color-plane:        #efebe9;
@color-good:         #5af158;
@color-warning:      #ffd740;
@color-bad:          #ff5177;
